#chat-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: Arial, sans-serif;
    width: 300px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#chat-box {
    position: fixed;
    bottom: 50px;
    /* Increase the bottom position to move it up */
    right: 50px;
    /* Increase the right position to move it to the left */
    display: none;
    width: 300px;
    max-width: 100%;
    /* Start with chat box hidden */
    flex-direction: column;
    height: 400px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    overflow: hidden;
    transform: translateY(100%);
        /* Start off-screen */
    transition: transform 0.8s ease-out;
    z-index: 1000;
    /* Ensure it's under the toggle-chat button but above other elements */
    /* rest of your styles */
}

/* Create a class for when the chat is open to transform its position */
#chat-box.open {
    transform: translateY(0);
}

/* Create a class for when the chat is closed to transform its position */
#chat-box.closed {
    transform: translateY(100%);
    /* Adjust value to hide the chat box */
}

#chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    position: relative;
    /* To position the logo and text correctly */
    text-align: center;
    /* Align header text to center */
}

#header-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    /* Adjust as needed */
}

#smaller-text {
    font-size: 12px;
    margin: 0;
    /* Adjust as needed */
}

#company-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    /* Adjust as needed */
    height: auto;
}

#topic-selection {
    padding: 10px;
    background-color: #f0f0f0;
    /* Adjust to fit the color scheme */
}

/* Base styles for the button-like labels */
.topic-label {
    display: inline-block;
    padding: 5px 10px;
    margin: 5 2px;
    font-size: 10px;
    text-align: center;
    background-color: #007bff;
    /* Default blue background */
    color: white;
    /* White text */
    border: 2px solid transparent;
    /* Invisible border by default */
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    user-select: none;
    /* Prevent text selection */
}

/* Hidden radio button */
.topic-label input[type="radio"] {
    display: none;
}

/* Styling for when a label's radio button is checked */
.topic-label input[type="radio"]:checked+label {
    background-color: white;
    /* White background for the checked state */
    color: #007bff;
    /* Blue text for the checked state */
    border: 2px solid #007bff;
    /* Blue border for the checked state */
}

#brand-text {
    font-size: 10px;
    color: #aaa;
    text-align: center;
    padding: 5px 0;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    /* Ensures that it takes the available space */
}

.message {
    display: flex;
        align-items: center;
        /* Aligns items vertically */
        justify-content: space-between;
        /* Spreads out the message and the checkmark */
        padding: 6px 12px;
        border-radius: 12px;
        margin: 4px 0;
        font-size: 14px;
        word-wrap: break-word;
        line-height: 1.4;
        max-width: 80%;
        position: relative;
        padding: 10px;
        margin-bottom: 10px;
}

.timestamp {
    position: absolute;
    right: 5px;
    /* Adjust as necessary, depending on your design */
    bottom: 5px;
    /* Adjust as necessary, to not overlap the message text */
    font-size: 0.65em;
    /* Smaller font size for timestamps */
    color: #646464;
    /* A lighter color for the timestamp, choose what works for you */
    background-color: rgba(255, 255, 255, 0.6);
    /* Semi-transparent white background */
    border-radius: 4px;
    /* Rounded corners for the timestamp background */
    padding: 2px 4px;
    /* Padding around the timestamp text */
    white-space: nowrap;
    /* Keep the timestamp in one line */
    overflow: hidden;
    /* Prevents content from spilling out */
    text-overflow: ellipsis;
    /* Adds an ellipsis if the text is too long */
    max-width: 100px;
    /* Ensures the timestamp doesn't get too wide */
}

.message.visitor {
    margin-left: auto;
    background-color: #dcf8c6;
    text-align: left;
}

.message.receiver {
    background-color: #ececec;
    text-align: left;
}

#message-input-container {
    display: flex;
    padding: 10px;
    flex-shrink: 0;
    /* Ensures that the input container does not shrink */
}

#message-input {
    flex: 1;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ddd;
    outline: none;
}

#send-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#close-chat {
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Add a hover effect for the chat button */
button#toggle-chat:hover {
    opacity: 0.7;
    /* This will create the transparency effect on hover */
    transition: opacity 0.3s ease;
    /* This adds a transition effect to the opacity change */
}

/* Style the chat button to look like the provided images */
button#toggle-chat {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF3344;
    /* Adjust the color to match your images */
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    /* Adjust size to match your design */
    height: 60px;
    font-size: 30px;
    /* Adjust font size as necessary */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1001;
    /* Make sure it's above other elements */
}

.status-icon {
    width: 1.5em;
    /* Sets the icon size relative to the font size of the message */
    height: 1.5em;
    /* Sets the height the same as the width */
    vertical-align: middle;
    /* Aligns the icon with the middle of the text */
    margin-left: 0.5em;
    /* Adds space between the checkmark and the text */
    fill: currentColor;
    /* Ensures the SVG color matches the color of the text */
}

.message-text {
    display: flex;
    /* Use flex to align text and icon */
    align-items: center;
    /* Center them vertically */
    justify-content: space-between;
    /* Push text and icon to opposite ends */
}

#lead-form {
    display: none;
    /* Hidden by default */
    flex-direction: column;
    /* Stack the inputs vertically */
    padding: 10px;
    /* Match padding of other elements */
    position: absolute;
    /* Position it over the message input area */
    top: 60px;
    /* Align it with the bottom of the chat box */
    left: 0;
    /* Align it with the left of the chat box */
    width: 90%;
    /* Ensure it spans the width of the chat box */
    background-color: #f0f0f0;
    /* Match the chat box background color */
    border-top: 1px solid #ddd;
    /* Add a border at the top to match the chat box style */
}

#lead-form input {
    margin-bottom: 10px;
    /* Add some space between the inputs */
    padding: 8px;
    /* Padding for better touch targets */
    border-radius: 15px;
    /* Match border-radius of other inputs */
    border: 1px solid #ddd;
    /* Match border style of other inputs */
    outline: none;
    /* Remove outline to match style of other inputs */
}

#lead-form button {
    background-color: #007bff;
    /* Match button colors of send button */
    color: white;
    /* Text color to contrast with button background */
    border: none;
    border-radius: 15px;
    /* Match border-radius of other buttons */
    cursor: pointer;
    padding: 8px 12px;
}

.lead-form-title {
    color: #000000;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
}

.small-text {
    color: #aaa;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.checkbox-container {
    color: #aaa;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-label {
    margin-left: 8px;
    font-size: 10px;
}
